<div class="jumbotron">
    <h1>BookParty</h1>
    <p>Bienvenue sur l'application BookParty</p>
    <%= link_to "Créer Utilisateur", new_user_registration_path, class: "btn btn-default" %>
    <%= link_to "Connexion ", new_user_session_path, class: "btn btn-default" %>
</div>

<h4>Application réaliser Rodrigues Nicolas</h4>